body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    margin: 0;
    background-size: cover;
    text-align: center;
    height: 100vh;
    font-weight: bold;
    color: white;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    width: 150px;
    background-color: goldenrod;
    color: #016f32;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}
